<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedatasphere.dss.datamodel.table.dao.DssDatamodelTableStatsMapper">
  <resultMap id="BaseResultMap" type="com.webank.wedatasphere.dss.datamodel.table.entity.DssDatamodelTableStats">
    <!--@mbg.generated-->
    <!--@Table dss_datamodel_table_stats-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="database" jdbcType="VARCHAR" property="database" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="column_count" jdbcType="INTEGER" property="columnCount" />
    <result column="storage_size" jdbcType="INTEGER" property="storageSize" />
    <result column="file_count" jdbcType="INTEGER" property="fileCount" />
    <result column="partition_count" jdbcType="INTEGER" property="partitionCount" />
    <result column="access_count" jdbcType="INTEGER" property="accessCount" />
    <result column="collect_count" jdbcType="INTEGER" property="collectCount" />
    <result column="ref_count" jdbcType="INTEGER" property="refCount" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `database`, `name`, create_time, update_time, column_count, storage_size, file_count, 
    partition_count, access_count, collect_count, ref_count, version
  </sql>
</mapper>