<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedatasphere.dss.datamodel.table.dao.DssDatamodelLabelMapper">
  <resultMap id="BaseResultMap" type="com.webank.wedatasphere.dss.datamodel.table.entity.DssDatamodelLabel">
    <!--@mbg.generated-->
    <!--@Table dss_datamodel_label-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="field_identifier" jdbcType="VARCHAR" property="fieldIdentifier" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="warehouse_theme_name" jdbcType="VARCHAR" property="warehouseThemeName" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="is_available" jdbcType="BOOLEAN" property="isAvailable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="warehouse_theme_name_en" jdbcType="VARCHAR" property="warehouseThemeNameEn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, field_identifier, params, `comment`, warehouse_theme_name, `owner`, principal_name, 
    is_available, create_time, update_time, warehouse_theme_name_en
  </sql>
</mapper>