@import '@/common/style/variables.scss';
@import '@/common/style/overwrite.scss';
@import '../projectIconFont/iconfont.css';
@import '../DSFont/iconfont.css';
@import 'normalize.scss';
@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('../pingfangScMedium.otf'); //你的资源目录
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant-numeric: tabular-nums;
  font-size: $font-size-small;
  color: $text-color;
  line-height: $line-height-base;
  background-color: $workspace-background !important;
}

.layout {
    position: $absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include bg-color($body-background, $dark-base-color);
}

.layout-content {
  height: 100%;
}

.layout-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // padding: 54px 0 0;
  position: $relative;
}

.layout-top {
  padding: 54px 0 0;
}

.ivu-message {
  z-index: 2000 !important;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px $shadow-color;
  -webkit-box-shadow: inset 0 0 2px $shadow-color;
  border-radius: $border-radius-large;
  -webkit-border-radius: $border-radius-large;
  -moz-border-radius: $border-radius-large;
  -ms-border-radius: $border-radius-large;
  -o-border-radius: $border-radius-large;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2px $shadow-color;
  border-radius: $border-radius-large;
  background: $scrollbar-color;
  -webkit-box-shadow: inset 0 0 2px $shadow-color;
  -webkit-border-radius: $border-radius-large;
  -moz-border-radius: $border-radius-large;
  -ms-border-radius: $border-radius-large;
  -o-border-radius: $border-radius-large;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $scrollbar-color;
}

.ivu-modal-header {
  //   background-color: #FAFAFA !important;
  @include bg-color(#FAFAFA, $dark-base-color);
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1001;
}

// 智慧营区版本菜单导航样式
.luban-menu-trigger {
  background-color: #61B381 !important;
}
.luban-nav-panel .nav-right {
  background-color: #062228 !important;
}
.luban-nav-panel .nav-right .pro-box .pro-list .pro-item .pro-item-inner:hover {
  background-color: #0B313C !important;
}
.luban-nav-panel .nav-left {
  background-color: #05191D !important;
}
.luban-nav-panel .nav-left .nav-all.active, .luban-nav-panel .nav-left .nav-all:hover {
  background-color: #062228 !important;
}
.luban-nav-panel .nav-left .nav-collect .nav-item:hover {
  background-color: #062228 !important;
}
html[data-theme="dark"] {
  .luban-menu-trigger {
    background-color: #61B381 !important;
  }
  .luban-nav-panel .nav-right {
    background-color: #062228 !important;
  }
  .luban-nav-panel .nav-right .pro-box .pro-list .pro-item .pro-item-inner:hover {
    background-color: #0B313C !important;
  }
  .luban-nav-panel .nav-left {
    background-color: #05191D !important;
  }
  .luban-nav-panel .nav-left .nav-all.active, .luban-nav-panel .nav-left .nav-all:hover {
    background-color: #062228 !important;
  }
  .luban-nav-panel .nav-left .nav-collect .nav-item:hover {
    background-color: #062228 !important;
  }
}
