<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wedatasphere.dss.framework.project.dao.DSSProjectMapper">
    <sql id="project_main">
        id,`name`,`source`, `workspace_id`,`description`,`org_id`,`visibility`,`is_transfer`,`initial_org_id`,
        `username`,`create_time`,`create_by`,`product`,`application_area`,`business`
        , `user_id`, `create_by_str`, `update_by_str`
    </sql>


    <select id="getListByParam"
            parameterType="com.webank.wedatasphere.dss.framework.project.entity.request.ProjectQueryRequest"
            resultType="com.webank.wedatasphere.dss.framework.project.entity.vo.QueryProjectVo">
        SELECT * FROM (SELECT b.application_area applicationArea,b.id,b.business,b.create_by
        createBy,b.description,b.name,
        b.product,b.source,b.isArchive,b.create_time createTime,b.update_time updateTime,
        b.dev_process devProcess,b.orchestrator_mode orchestratorMode,
        b.visible visible,
        b.associate_git associateGit,
        b.data_source_list_json dataSourceListJson,
        GROUP_CONCAT(CONCAT(a.project_id,'-',a.priv,'-',a.username)) pusername
        FROM dss_project_user a
        LEFT JOIN dss_project b ON a.project_id = b.id AND a.workspace_id=b.workspace_id
        WHERE b.workspace_id = #{workspaceId} AND a.priv >=1
        <if test="id!=null">
            AND b.id = #{id}
        </if>
          <choose>
              <when test="creatorLabel!=null">
                  AND b.label=#{creatorLabel}
          </when>
          <otherwise>
                AND b.label is null
          </otherwise>
          </choose>
        GROUP BY b.id ) c
        where c.pusername like concat('%',#{username},'%') and COALESCE(c.visible,1) = 1
        <choose>
            <when test="orderBySql != null and orderBySql != ''">
                order by #{orderBySql}
            </when>
            <otherwise>
                order by updateTime desc
            </otherwise>
        </choose>
    </select>

    <select id="getProjectInfoById" resultType="com.webank.wedatasphere.dss.framework.project.entity.vo.ProjectInfoVo">
        SELECT a.id,a.workspace_id workspaceId,a.name projectName,b.name workspaceName
        FROM dss_project a LEFT JOIN dss_workspace b ON a.workspace_id = b.id
        WHERE a.id = #{id} and a.name is not null and b.name is not null
    </select>

    <insert id = "saveProjectRelation" parameterType="java.util.List">
        insert into dss_appconn_project_relation
        (
        `project_id`,
        `appconn_instance_id`,
        `appconn_instance_project_id`
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.dssProjectId},
            #{item.appInstanceId},
            #{item.appInstanceProjectId}
            )
        </foreach>
    </insert>
    <select id="getListForAdmin"
            parameterType="com.webank.wedatasphere.dss.framework.project.entity.request.ProjectQueryRequest"
            resultType="com.webank.wedatasphere.dss.framework.project.entity.vo.QueryProjectVo">
        SELECT * FROM (SELECT b.application_area applicationArea,b.id,b.business,b.create_by
        createBy,b.description,b.name,
        b.product,b.source,b.isArchive,b.create_time createTime,b.update_time updateTime,
        b.dev_process devProcess,b.orchestrator_mode orchestratorMode,
        b.visible visible,
        b.associate_git associateGit,
        b.data_source_list_json dataSourceListJson,
        GROUP_CONCAT(CONCAT(a.project_id,'-',a.priv,'-',a.username)) pusername
        FROM dss_project_user a
        LEFT JOIN dss_project b ON a.project_id = b.id AND a.workspace_id=b.workspace_id
        WHERE b.workspace_id = #{workspaceId} AND a.priv >=1
        <if test="id!=null">
            AND b.id = #{id}
        </if>
        GROUP BY b.id ) c  where COALESCE(c.visible,1) = 1
        <choose>
            <when test="orderBySql != null and orderBySql != ''">
                order by #{orderBySql}
            </when>
            <otherwise>
                order by updateTime desc
            </otherwise>
        </choose>

    </select>

    <select id="getDeletedProjects"
            parameterType="com.webank.wedatasphere.dss.framework.project.entity.request.ProjectQueryRequest"
            resultType="com.webank.wedatasphere.dss.framework.project.entity.vo.QueryProjectVo">
        SELECT * FROM (SELECT b.application_area applicationArea,b.id,b.business,b.create_by
        createBy,b.description,b.name,
        b.product,b.source,b.isArchive,b.create_time createTime,b.update_time updateTime,
        b.dev_process devProcess,b.orchestrator_mode orchestratorMode,
        b.visible visible,
        b.data_source_list_json dataSourceListJson,
        GROUP_CONCAT(CONCAT(a.project_id,'-',a.priv,'-',a.username)) pusername
        FROM dss_project_user a
        LEFT JOIN dss_project b ON a.project_id = b.id AND a.workspace_id=b.workspace_id
        WHERE b.workspace_id = #{workspaceId} AND a.priv >=1 AND b.visible = 0
        <if test="id!=null">
            AND b.id = #{id}
        </if>
        GROUP BY b.id ) c where c.pusername like concat('%',#{username},'%') order by updateTime desc
    </select>

</mapper>