<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*
  ~  * Copyright 2019 WeBank
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  *  you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  * http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wedatasphere.dss.framework.project.dao.DSSOrchestratorMapper">

    <resultMap id="schedule_info_map" type="com.webank.wedatasphere.dss.workflow.common.entity.DSSReleasedFlowVO$ScheduleInfo">
        <result column="schedule_time" property="scheduleTime" jdbcType="LONGVARCHAR"/>
        <result column="alarm_user_emails" property="alarmUserEmails" jdbcType="LONGVARCHAR"/>
        <result column="alarm_level" property="alarmLevel" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id = "getScheduleInfo" resultMap="schedule_info_map" parameterType="java.lang.Long">
        select
        `schedule_time`,
        `alarm_user_emails`,
        `alarm_level`
        from
        `dss_orchestrator_schedule_info` where `orchestrator_id` = #{orchestratorId}
    </select>

</mapper>