<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.webank.wedatasphere.dss.framework.workspace.dao.WorkspaceMapper">
    <sql id="workspace_main">
        id,`name`,`label`,`description`,`department`,`product`,`source`,`create_by`,`create_time`,`last_update_user`,`last_update_time`
    </sql>

    <sql id="menu_appInstances_cn">
        m.`id`,m.`title_cn` AS `title`, m.`desc_cn` AS `description`,m.`labels_cn` AS `labels`,m.image,
        m.`access_button_cn` AS `access_button`,m.`manual_button_cn` AS `manualButton`,m.`is_active`,
        m.`manual_button_url`,m.`icon`,m.`order`,app.`homepage_url` AS `access_button_url`,app.project_url, app.`name`
    </sql>
    <sql id="menu_appInstances_en">
        m.`id`,m.`title_en` AS `title`, m.`desc_en` AS `description`,m.`labels_en` AS `labels`,m.image,
        m.`access_button_en` AS `access_button`,m.`manual_button_en` AS `manualButton`,m.`is_active`,
        m.`manual_button_url`,m.`icon`,m.`order`,app.`homepage_url` AS `access_button_url`,app.project_url, app.`name`
    </sql>

    <sql id="favorite_main">
        id,`username`,`workspace_id`,`menu_appconn_id`,`order`,`create_by`,`create_time`,`last_update_user`,`last_update_time`,`type`
    </sql>

    <resultMap id="roles" type="Integer">
        <result column="role_id" property="roleId"/>
    </resultMap>

    <select id="getWorkspaces" resultType="com.webank.wedatasphere.dss.framework.workspace.bean.DSSWorkspace">
        SELECT *
        FROM dss_workspace
        ORDER BY dss_workspace.`create_time` DESC
    </select>

    <select id="getWorkspaceById" resultType="com.webank.wedatasphere.dss.framework.workspace.bean.DSSWorkspace">
        SELECT
        id,
        NAME,
        label,
        description,
        create_by,
        create_time,
        department,
        product,
        source,
        last_update_time,
        last_update_user,
        workspace_type,
        admin_permission
        FROM
        dss_workspace WHERE id = #{workspaceId}
    </select>

    <select id="findByWorkspaceName" resultType="com.webank.wedatasphere.dss.framework.workspace.bean.DSSWorkspace">
        SELECT * FROM dss_workspace where `name` = #{name}
    </select>

    <insert id="addWorkSpace" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.framework.workspace.bean.DSSWorkspace">
        INSERT INTO dss_workspace (<include refid="workspace_main"/>)
        VALUES
        (#{id},#{name},#{label},#{description},#{department},#{product},#{source},#{createBy},#{createTime},#{lastUpdateUser},#{lastUpdateTime})
    </insert>

    <select id="getManagementMenuCn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceMenuVo">
        SELECT `id`,`name`,`title_cn` AS `title`,`order`
        FROM dss_workspace_menu
        <where>
            `is_active` = 0
        </where>
    </select>

    <select id="getManagementMenuEn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceMenuVo">
        SELECT `id`,`name`,`title_en` AS `title`,`order`
        FROM dss_workspace_menu
        <where>
            `is_active` = 0
        </where>
    </select>

    <select id="getAppConnMenuCn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceMenuVo">
        SELECT `id`,`name`,`title_cn` AS `title`,`order`
        FROM dss_workspace_menu
        <where>
            `is_active` = 1
        </where>
    </select>

    <select id="getAppConnMenuEn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceMenuVo">
        SELECT `id`,`name`,`title_en` AS `title`,`order`
        FROM dss_workspace_menu
        <where>
            `is_active` = 1
        </where>
    </select>

    <select id="getMenuAppInstancesCn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceMenuAppconnVo">
        SELECT
        <!--        <include refid="menu_appInstances_cn"/>-->
        m.`id`,m.`title_cn` AS `title`, m.`desc_cn` AS `description`, m.`labels_cn` AS `labels`, m.image, m.`is_active`,
        m.`icon`,m.`order`, app.`appconn_name` as `name`, app.`if_iframe`, app.`is_external`,app.`is_micro_app`
        FROM dss_workspace_menu_appconn m
        JOIN dss_appconn app
        ON m.`appconn_id` = app.`id`
        <where>
            m.`menu_id` = #{id}
        </where>
    </select>

    <select id="getMenuAppInstancesEn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceMenuAppconnVo">
        SELECT
        <!--        <include refid="menu_appInstances_en"/>-->
        m.`id`,m.`title_en` AS `title`, m.`desc_en` AS `description`, m.`labels_en` AS `labels`, m.image, m.`is_active`,
        m.`icon`,m.`order`, app.`appconn_name` as `name`, app.`if_iframe`, app.`is_external`,app.`is_micro_app`
        FROM dss_workspace_menu_appconn m
        JOIN dss_appconn app
        ON m.`appconn_id` = app.`id`
        <where>
            m.`menu_id` = #{id}
        </where>
    </select>

    <select id="getWorkspaceFavoritesCn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceFavoriteVo">
        SELECT dss_workspace_user_favorites_appconn.id, dss_workspace_menu_appconn.id AS menuApplicationId,
        dss_appconn.appconn_name as name, icon, title_cn AS title
        FROM dss_workspace_user_favorites_appconn join dss_workspace_menu_appconn
        on dss_workspace_user_favorites_appconn.menu_appconn_id = dss_workspace_menu_appconn.id
        join dss_appconn on dss_appconn.id = dss_workspace_menu_appconn.appconn_id
        <where>
            (dss_workspace_user_favorites_appconn.`username` = #{username} and `workspace_id` = #{workspaceId}
            or `dss_workspace_user_favorites_appconn`.`workspace_id` = -1)
            AND type = #{type}
        </where>
    </select>

    <select id="getWorkspaceFavoritesEn"
            resultType="com.webank.wedatasphere.dss.framework.workspace.bean.dto.response.WorkspaceFavoriteVo">
        SELECT dss_workspace_user_favorites_appconn.id, dss_workspace_menu_appconn.id AS menuApplicationId,
        dss_appconn.appconn_name as name, icon, title_en AS `title`
        FROM dss_workspace_user_favorites_appconn join dss_workspace_menu_appconn
        on dss_workspace_user_favorites_appconn.menu_appconn_id = dss_workspace_menu_appconn.id
        join dss_appconn on dss_appconn.id = dss_workspace_menu_appconn.appconn_id
        <where>
            dss_workspace_user_favorites_appconn.`username` = #{username} and `workspace_id` = #{workspaceId}
            AND type = #{type}
        </where>
    </select>

    <insert id="addFavorite" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.framework.workspace.bean.DSSFavorite">
        INSERT INTO dss_workspace_user_favorites_appconn (<include refid="favorite_main"/>)
        VALUES
        (#{id},#{username},#{workspaceId},#{menuAppConnId},#{order},#{createBy},#{createTime},#{lastUpdateUser},#{lastUpdateTime},#{type})
    </insert>

    <delete id="deleteFavorite">
        DELETE
        FROM
        dss_workspace_user_favorites_appconn
        WHERE
        menu_appconn_id = #{applicationId}
        AND username = #{username}
        AND workspace_id = #{workspaceId}
        AND type = #{type}
    </delete>


    <select id="getDepartName" resultType="java.lang.String">
        SELECT
        CONCAT_WS('-',
        t1.dept_name,
        t2.dept_name,
        t3.dept_name )
        FROM
        ( SELECT dept_name, parent_id FROM dss_workspace_admin_dept WHERE id = #{id} ) t3
        LEFT JOIN dss_workspace_admin_dept t2 ON t3.parent_id = t2.id
        LEFT JOIN dss_workspace_admin_dept t1 ON t2.parent_id = t1.id
    </select>
</mapper>