@import '@dataspherestudio/shared/common/style/variables.scss';
.workspace-home {
  display: flex;
  height: 100%;
  // background-color: rgba(242, 242, 242, 1);
  @include bg-color(rgba(242, 242, 242, 1), $dark-workspace-background);
  min-width: 100px;
  overflow: hidden;
  width: 100%;
  .menuItemIcon {
    margin-right: 5px;
  }
  .mune-bar {
    .ivu-layout-sider {
      // background-color: #fff;// 将侧边栏的背景色样式重新改为白色
      @include bg-color($workspace-body-bg-color, $dark-workspace-background);
    }
    .menu-item span{
      display: inline-block;
      overflow: hidden;
      width: 69px;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;
      transition: width .2s ease .2s;
    }
    .menu-item i{
      transform: translateX(0px);
      transition: font-size .2s ease, transform .2s ease;
      vertical-align: middle;
      font-size: $font-size-large;
    }
    .collapsed-menu span{
      width: 0px;
      transition: width .2s ease;
    }
    .collapsed-menu i{
      transform: translateX(5px);
      transition: font-size .2s ease .2s, transform .2s ease .2s;
      vertical-align: middle;
      font-size: 22px;
    }
    .workspace-title {
      font-size: $font-size-large;
      font-weight: 600;
      padding: 10px 20px 10px 25px;
    }
    .overview-box {
      text-align: left;
      padding: 0px 23px 8px;
      cursor: pointer;
      .overview-icon{
        font-size: 20px;
        // float: left;
        margin-right: 10px;
      }
      .overview-text{
        font-size: 1rem;
        font-weight: 700;
        // float: left;
        padding-top: 2px;
        @include font-color($workspace-title-color, $dark-workspace-title-color);
      }
    }
  }

  .right {
    margin: 20px;
    flex: 1;
    // background-color: #fff;
    @include bg-color($workspace-body-bg-color, $dark-workspace-body-bg-color);
    min-width: 780px;
    overflow: auto;
  }
  .ivu-menu-vertical.ivu-menu-light:after {
    width: 0;
  }
  .active {
    // color: $primary-color;
    @include font-color($primary-color, $dark-primary-color);

  }
}

