*.iml
.idea
.DS_Store

assembly/target

datachecker-appjoint/target/
dss-appjoint-auth/target/
dss-appjoint-core/target/
dss-appjoint-loader/target/
dss-application/target/
dss-azkaban-scheduler-appjoint/target/
dss-common/target/
dss-flow-execution-entrance/target/
dss-linkis-node-execution/target/
dss-scheduler-appjoint-core/target/
dss-server/target/
eventchecker-appjoint/target/
plugins/azkaban/linkis-jobtype/target/
plugins/linkis/linkis-appjoint-entrance/target/

sendemail-appjoint/sendemail-core/target/
visualis-appjoint/appjoint/target/
qualitis-appjoint/appjoint/target/
logs
web/.history