<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.dss.workflow.dao.NodeContentMapper">

    <resultMap id="nodeContentResultMap" type="com.webank.wedatasphere.dss.workflow.dto.NodeContentDO">
        <id property="id" column="id"/>
        <result property="nodeKey" column="node_key"/>
        <result property="nodeId" column="node_id"/>
        <result property="jobType" column="job_type"/>
        <result property="orchestratorId" column="orchestrator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifyUser" column="modify_user"/>
    </resultMap>

    <sql id="baseColumns">
        `id`, `node_key`, `node_id`, `job_type`, `orchestrator_id`, `create_time`, `modify_time`, `modify_user`
    </sql>

    <insert id= "insert" parameterType="com.webank.wedatasphere.dss.workflow.dto.NodeContentDO">
        INSERT INTO dss_workflow_node_content(`node_key`, `node_id`, `job_type`, `orchestrator_id`, `create_time`, `modify_time`, `modify_user`)
        VAlUES(#{nodeKey}, #{nodeId}, #{jobType}, #{orchestratorId}, #{createTime}, #{modifyTime}, #{modifyUser})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO dss_workflow_node_content(node_key, node_id, job_type, orchestrator_id, create_time, modify_time, modify_user)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
                (#{item.nodeKey}, #{item.nodeId}, #{item.jobType}, #{item.orchestratorId}, #{item.createTime}, #{item.modifyTime}, #{item.modifyUser})
        </foreach>
    </insert>

    <update id= "update" parameterType="com.webank.wedatasphere.dss.workflow.dto.NodeContentDO">
        UPDATE dss_workflow_node_content
        SET `node_key` = #{nodeKey}, `node_id` = #{nodeId}, `job_type` = #{jobType}, `orchestrator_id` = #{orchestratorId}, `modify_time` = #{modifyTime}, `modify_user` = #{modifyUser}
        WHERE `id` = #{id}
    </update>

    <update id="updateByKey" parameterType="com.webank.wedatasphere.dss.workflow.dto.NodeContentDO">
            UPDATE dss_workflow_node_content
            SET `node_id` = #{nodeId}, `job_type` = #{jobType}, `modify_time` = #{modifyTime}, `modify_user` = #{modifyUser}
            WHERE `node_key` = #{nodeKey} and `orchestrator_id` = #{orchestratorId}
    </update>

    <select id="getNodeContentByKey" parameterType="java.lang.String" resultMap="nodeContentResultMap">
        SELECT <include refid="baseColumns"/> FROM dss_workflow_node_content WHERE `node_key` = #{nodeKey}
    </select>

    <select id="getNodeContentByKeyList" parameterType="java.lang.String" resultMap="nodeContentResultMap">
        SELECT <include refid="baseColumns"/> FROM dss_workflow_node_content
        WHERE `orchestratorId` = #{orchestratorId} and `node_key` IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getNodeContentListByOrchestratorId" parameterType="java.lang.Long" resultMap="nodeContentResultMap">
        SELECT <include refid="baseColumns"/> FROM dss_workflow_node_content WHERE orchestrator_id = #{orchestratorId}
    </select>

    <select id="getContentIdListByOrchestratorId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT id FROM dss_workflow_node_content WHERE orchestrator_id = #{orchestratorId}
    </select>


    <delete id="deleteNodeContentByKey">
            DELETE FROM dss_workflow_node_content WHERE `node_key` = #{nodeKey} and `orchestratorId` = #{orchestratorId}
    </delete>

    <delete id="batchDelete">
        DELETE FROM dss_workflow_node_content WHERE `orchestratorId` = #{orchestratorId} and `node_key` IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.nodeKey}
        </foreach>
    </delete>
    
    <delete id="deleteNodeContentByOrchestratorId">
        DELETE FROM dss_workflow_node_content WHERE orchestrator_id = #{orchestratorId}
    </delete>
</mapper>