<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedatasphere.dss.scriptis.dao.ScriptisAuthMapper">

	<select id="getUserLimits"
			resultType="com.webank.wedatasphere.dss.scriptis.pojo.entity.DssUserLimit">
		SELECT `limit_name`,`value`,`user_name` FROM `dss_user_limit`
		<where>
			<if test="limitName != null and limitName != ''">
				`limit_name` like CONCAT(#{limitName},'%')
			</if>
		</where>
	</select>

</mapper>
