// 首页、第九步
#mask1, #mask9 {
    position : fixed;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : 305px;
    z-index  : 1002;
    font-size: 14px;

    .description {

        font-size  : 14px;
        color      : #ffffff;
        border     : 2px dashed #ffffff;
        padding    : 16px;
        position: relative;

        p {
            text-align: left;
            span {
                color: rgb(9, 140, 234);
                font-weight: 550;
            }
        }
        &::after{
            content: "";
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            border-width: 0 2px 2px 0;
            border-color: #fff;
            border-style: dashed;
            position : absolute;
            bottom      : -7px;
            left     : 110px;
            background-color: #4c4c4c;
        }
    }

    #confirm1 {
        padding-left: 138px;
        display     : flex;
        padding-top: 36px;

        .next {

            color        : #FFFFFF;
            text-align   : center;
            line-height  : 35px;
            width        : 100px;
            height       : 35px;
            background   : #2E92F7;
            border-radius: 22px;
            cursor       : pointer;
        }

        .luBanLogo {
            width      : 60px;
            height     : 57px;
            margin-top : -15px;
            margin-left: -149px;
        }
    }
}

#mask1 {
    .description{
        p{
            &:first-child{
                font-weight: bold;
            }
        }
    }
}


// 第二步
#mask2 {
    position : fixed;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : 215px;
    z-index  : 1003;

    .description {
        position: relative;

        font-size  : 14px;
        color      : #ffffff;
        border     : 2px dashed #ffffff;
        padding    : 16px;

        p {
            text-align: left;

            span {
                color: rgb(9, 140, 234);
                font-weight: bold;
            }
        }

        &::after{
            content: "";
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            border-width: 0 2px 2px 0;
            border-color: #fff;
            border-style: dashed;
            position : absolute;
            bottom      : -7px;
            left     : 164.5px;
            background-color: #4c4c4c;
        }
    }

    #confirm2 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 14px;
        margin-left    : 12px;
        padding-top: 24px;

        .skip {

            color      : rgba(255, 255, 255, 0.65);
            cursor     : pointer;
        }

        .next {

            color        : #FFFFFF;
            text-align   : center;
            width        : 84px;
            height       : 35px;
            line-height  : 35px;
            background   : #2e92f7;
            border-radius: 22px;
            margin-left  : 16px;
            cursor       : pointer;
        }

        .luBanLogo {
            width      : 60px;
            height     : 57px;
            margin-top : -5px;
            margin-left: -8px;
        }
    }
}

.headerSuspension {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    z-index : 1003;
    text-align: left;
    .item1 {
        .dashed {
            display   : inline-block;
            height    : 54px;
            border    : 2px dashed #ffffff;
            margin-top: 0.3px;
        }

        .block1 {
            width: 53px;
        }

        .block2 {
            margin-left: 8px;
            width      : 258px;
        }

        .block3 {
            width      : 110px;
            margin-left: 110px;
        }

        .block4 {
            width      : 80px;
            margin-left: 22px;
        }

        .block5 {
            width   : 54px;
            position: absolute;
            top     : 0px;
            right   : 5px;
        }
    }

    .item2 {
        .img1 {
            margin-left: 25px;
        }

        .img2 {
            margin-left: 116px;
        }

        .img3 {
            margin-left: 245px;
        }

        .img4 {
            margin-left: 116px;
        }

        .img5 {
            position   : absolute;
            margin-left: 128px;
            right      : 30px;
        }
    }

    .item3 {

        font-size  : 14px;
        color      : #ffffff;
        text-align : left;
        min-width  : 1050px;

        span {
            color: rgb(9, 140, 234);
            font-weight: bold;
        }

        div {
            display       : inline-block;
            height        : 60px;
            vertical-align: middle;
        }

        .desc1 {
            width      : 150px;
            margin-left: 25px;
        }

        .desc2 {
            width      : 130px;
            margin-left: 40px;
        }

        .desc3 {
            width      : 130px;
            margin-left: 125px;
        }

        .desc4 {
            width      : 130px;
            margin-left: 40px;
        }

        .desc5 {
            width   : 154px;
            right   : 30px;
            position: absolute;
        }
    }
}

.footerSuspension {
    position: absolute;
    bottom  : 0;
    right   : 0;
    z-index : 1003;
    width: 383px;
    height: 278px;
    text-align: left;

    .item1 {

        font-size  : 14px;
        color      : #ffffff;
        text-align : left;
        display    : inline-block;

        span {
            color: rgb(9, 140, 234);
            font-weight: bold;
        }

        div {
            height: 110px;
            width : 180px;
        }

        .desc2 {
            width        : 200px;
            margin-top   : 40px;
        }
    }

    .item2 {
        width       : 85px;
        display     : inline-block;
        margin-right: 5px;

        .img1 {
            margin-top: 45px;
        }

        .img2 {
            margin-top   : 50px;
            margin-bottom: 30px;
        }
    }

    .item3 {
        position: relative;
        bottom: -48px;
        display   : inline-block;

        .dashed {
            width : 65px;
            height: 64px;
            border: 2px dashed #ffffff;
            margin-right: 27px;
        }
    }
}

// 第三步
#mask3 {
    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 1004;

    .selected {
        height    : 54px;
        border    : 2px dashed #ffffff;
        margin-top: 0.3px;
        width     : 54px;
        cursor: pointer;
        &:hover{
            background-color: #ffffff8c;
        }
    }

    .arrow {
        margin-left: 25px;
    }

    .desc {
        margin-left: 98px;

        font-size  : 14px;
        color      : #ffffff;
        border     : 2px dashed #ffffff;
        padding    : 16px;
        width      : 200px;
        position: relative;

        span {
            color: rgb(9, 140, 234);
            font-weight: bold;
        }

        &::after{
            content: "";
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            border-width: 0 2px 2px 0;
            border-color: #fff;
            border-style: dashed;
            position : absolute;
            bottom: -7px;
            left: 158px;
            background-color: #4c4c4c;
        }
    }

    #confirm3 {
        margin-left    : 8px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        text-align     : center;
        padding-top: 27px;

        .skip {

            font-size  : 14px;
            color      : rgba(255, 255, 255, 0.65);
            width      : 46px;
            padding-right: 16px;
            cursor     : pointer;
        }

        .prev {

            font-size    : 14px;
            color        : #ffffff;
            border       : 1px dashed #ffffff;
            border-radius: 22px;
            width        : 84px;
            height       : 35px;
            line-height  : 35px;
            margin-right : 16px;
            cursor       : pointer;
        }

        .next {

            font-size    : 14px;
            color        : #ffffff;
            width        : 84px;
            height       : 35px;
            background   : #2e92f7;
            border-radius: 22px;
            line-height  : 35px;
            cursor       : pointer;
        }

        .luBanLogo {
            width      : 60px;
            height     : 57px;
            margin-top : -5px;
            margin-left: -8px;
        }
    }
}

// 第四步
#mask4 {
    display : flex;
    position: fixed;
    top     : 54px;
    left    : 0;
    z-index : 2300;
    bottom  : 0;

    .selected {
        border    : 2px dashed #ffffff;
        margin-top: 0.3px;
        width     : 810px;
        height    : 100%;
    }

    .right {
        position  : relative;
        margin-top: 82px;

        .desc {
            margin-left: 98px;

            font-size  : 14px;
            color      : #ffffff;
            border     : 2px dashed #ffffff;
            padding    : 16px;
            width      : 200px;
            position: relative;

            span {
                color: rgb(9, 140, 234);
                font-weight: bold;
            }

            &::after{
                content: "";
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                border-width: 0 2px 2px 0;
                border-color: #fff;
                border-style: dashed;
                position : absolute;
                bottom      : -7px;
                left     : 158px;
                background-color: #4c4c4c;
            }
        }


        #confirm4 {
            margin-left    : 8px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            text-align     : center;
            padding-top: 27px;

            .skip {

                font-size  : 14px;
                color      : rgba(255, 255, 255, 0.65);
                width      : 46px;
                padding-right: 16px;
                cursor     : pointer;
            }

            .prev {

                font-size    : 14px;
                color        : #ffffff;
                border       : 1px dashed #ffffff;
                border-radius: 22px;
                width        : 84px;
                height       : 35px;
                line-height  : 35px;
                margin-right : 16px;
                cursor       : pointer;
            }

            .next {

                font-size    : 14px;
                color        : #ffffff;
                width        : 84px;
                height       : 35px;
                background   : #2e92f7;
                border-radius: 22px;
                line-height  : 35px;
                cursor       : pointer;
            }

            .luBanLogo {
                width      : 60px;
                height     : 57px;
                margin-top : -8px;
                margin-left: -8px;
            }
        }
    }
}

// 第五步
#mask5 {
    position      : fixed;
    top           : 0;
    right         : 0;
    left          : 0;
    z-index       : 1003;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;

    .selected {
        height      : 54px;
        border      : 2px dashed #ffffff;
        margin-top  : 0.3px;
        width       : 54px;
        margin-right: 5px;
        cursor: pointer;
        &:hover{
            background-color: #ffffff8c;
        }
    }

    .arrow {
        margin-right: 60px;
    }

    .desc {
        margin-right: 130px;
        font-size   : 14px;
        color       : #ffffff;
        border      : 2px dashed #ffffff;
        padding     : 16px;
        width       : 200px;
        position: relative;

        span {
            color: rgb(9, 140, 234);
            font-weight: bold;
        }

        &::after{
            content: "";
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            border-width: 0 2px 2px 0;
            border-color: #fff;
            border-style: dashed;
            position : absolute;
            bottom      : -7px;
            left     : 158px;
            background-color: #4c4c4c;
        }
    }

    #confirm5 {
        margin-right   : 135px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        text-align     : center;
        padding-top: 27px;

        .skip {

            font-size  : 14px;
            color      : rgba(255, 255, 255, 0.65);
            width      : 46px;
            padding-right: 16px;
            cursor     : pointer;
        }

        .prev {

            font-size    : 14px;
            color        : #ffffff;
            border       : 1px dashed #ffffff;
            border-radius: 22px;
            width        : 84px;
            height       : 35px;
            line-height  : 35px;
            margin-right : 16px;
            cursor       : pointer;
        }

        .next {
            font-size        : 14px;
            color            : #ffffff;
            width            : 84px;
            height           : 35px;
            background       : #2e92f7;
            border-radius    : 22px;
            line-height      : 35px;
            cursor           : pointer;
        }

        .luBanLogo {
            width      : 60px;
            height     : 57px;
            margin-top : -8px;
            margin-left: -8px;
        }
    }
}

// 第六步
#mask6 {
    position      : fixed;
    right         : 0;
    top           : 54px;
    z-index       : 1004;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;

    .selected {
        height      : 215px;
        border      : 2px dashed #ffffff;
        margin-top  : 0.3px;
        width       : 118px;
        margin-right: 1px;
    }

    .arrow {
        margin-right: 82px;
    }

    .desc {
        margin-right: 152px;
        font-size   : 14px;
        color       : #ffffff;
        border      : 2px dashed #ffffff;
        padding     : 16px;
        width       : 200px;
        position: relative;

        span {
            color: rgb(9, 140, 234);
            font-weight: bold;
        }

        &::after{
            content: "";
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            border-width: 0 2px 2px 0;
            border-color: #fff;
            border-style: dashed;
            position : absolute;
            bottom      : -7px;
            left     : 158px;
            background-color: #4c4c4c;
        }
    }

    #confirm6 {
        margin-right   : 157px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        text-align     : center;
        padding-top: 27px;

        .skip {

            font-size  : 14px;
            color      : rgba(255, 255, 255, 0.65);
            width      : 46px;
            padding-right: 16px;
            cursor     : pointer;
        }

        .prev {

            font-size    : 14px;
            color        : #ffffff;
            border       : 1px dashed #ffffff;
            border-radius: 22px;
            width        : 84px;
            height       : 35px;
            line-height  : 35px;
            margin-right : 16px;
            cursor       : pointer;
        }

        .next {

            font-size    : 14px;
            color        : #ffffff;
            width        : 84px;
            height       : 35px;
            background   : #2e92f7;
            border-radius: 22px;
            line-height  : 35px;
            cursor       : pointer;
        }

        .luBanLogo {
            width      : 60px;
            height     : 57px;
            margin-top : -5px;
            margin-left: -8px;
        }
    }
}

// 第七步
#mask7 {
    position      : absolute;
    right         : 27px;
    bottom        : 103px;
    z-index       : 1003;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;

    .selected {
        height      : 54px;
        border      : 2px dashed #ffffff;
        margin-right: 0.5px;
        width       : 65px;
        z-index     : 1005;
        cursor: pointer;
        &:hover{
            background-color: #ffffff8c;
        }
    }

    .item1 {
        position: absolute;

        .desc {
            margin-left: 97px;

            font-size  : 14px;
            color      : #ffffff;
            border     : 2px dashed #ffffff;
            padding    : 16px;
            width      : 200px;
            position: relative;

            span {
                color: rgb(9, 140, 234);
                font-weight: bold;
            }

            &::after{
                content: "";
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                border-width: 0 2px 2px 0;
                border-color: #fff;
                border-style: dashed;
                position : absolute;
                bottom      : -7px;
                left     : 146px;
                background-color: #4c4c4c;
            }
        }

        #confirm7 {
            margin-right   : 149px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            text-align     : center;
            padding-top: 27px;

            .skip {

                font-size  : 14px;
                color      : rgba(255, 255, 255, 0.65);
                width      : 46px;
                padding-right: 16px;
                cursor     : pointer;
            }

            .prev {

                font-size    : 14px;
                color        : #ffffff;
                border       : 1px dashed #ffffff;
                border-radius: 22px;
                width        : 84px;
                height       : 35px;
                line-height  : 35px;
                margin-right : 16px;
                cursor       : pointer;
            }

            .next {

                font-size    : 14px;
                color        : #ffffff;
                width        : 84px;
                height       : 35px;
                background   : #2e92f7;
                border-radius: 22px;
                line-height  : 35px;
                cursor       : pointer;
            }

            .luBanLogo {
                width      : 60px;
                height     : 57px;
                margin-top : -5px;
                margin-left: -8px;
            }
        }
    }

    .arrow {
        margin-right: 60px;
    }

}

// 第八步
#mask8 {
    position      : fixed;
    right         : 0;
    top           : 50px;
    z-index       : 1003;
    display       : flex;
    pointer-events: none;

    .selected {
        border        : 2px dashed #ffffff;
        margin-right  : 0.5px;
        height        : 100vh;
        pointer-events: auto;
        width: 655px;
    }

    .item1 {
        pointer-events: auto;
        margin-top    : 144px;
        position      : relative;

        .desc {
            margin-left: 84px;

            font-size  : 14px;
            color      : #ffffff;
            border     : 2px dashed #ffffff;
            padding    : 16px;
            width      : 210px;
            position: relative;

            span {
                color: rgb(9, 140, 234);
                font-weight: bold;
            }

            &::after{
                content: "";
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                border-width: 0 2px 2px 0;
                border-color: #fff;
                border-style: dashed;
                position : absolute;
                bottom      : -7px;
                left     : 158px;
                background-color: #4c4c4c;
            }
        }

        #confirm8 {
            display        : flex;
            justify-content: center;
            align-items    : center;
            text-align     : center;
            padding-top: 27px;
            padding-right: 12px;

            .skip {

                font-size  : 14px;
                color      : rgba(255, 255, 255, 0.65);
                width      : 46px;
                padding-right: 16px;
                cursor     : pointer;
            }

            .prev {

                font-size    : 14px;
                color        : #ffffff;
                border       : 1px dashed #ffffff;
                border-radius: 22px;
                width        : 84px;
                height       : 35px;
                line-height  : 35px;
                margin-right : 16px;
                cursor       : pointer;
            }

            .next {

                font-size    : 14px;
                color        : #ffffff;
                width        : 84px;
                height       : 35px;
                background   : #2e92f7;
                border-radius: 22px;
                line-height  : 35px;
                cursor       : pointer;
            }

            .luBanLogo {
                width      : 60px;
                height     : 57px;
                margin-top : -5px;
                margin-left: -8px;
            }
        }
    }

    .arrow {
        margin-top: 65px;
    }

}

.next {
    &:hover {
        background: #1C73CB !important;
    }

    &:active {
        background: #1667B9 !important;
    }
}

.skip {
    &:hover {
        color: rgba(255, 255, 255, 0.85) !important;
    }

    &:active {
        color: #FFFFFF !important;
    }
}

.prev {
    &:hover {
        background: rgba(255, 255, 255, 0.15) !important;
    }

    &:active {
        background: rgba(255, 255, 255, 0.25) !important;
    }
}

@keyframes rainbow {
    0% { width: 0; }
    100% { width: 405px; }
  }

.luBanLogo {
  display: none
}
