@import '@dataspherestudio/shared/common/style/variables.scss';
.user-menu {
//   background: $menu-dark-active-bg;
  @include bg-color($background-color-header, $dark-background-color-header);
  width: 130px;
  border: none;
  position: $absolute;
  top: 53px;
  left: 50%;
  margin-left: -72px;
  border-radius: 0 0 $border-radius-small $border-radius-small;
//   .user-menu-arrow {
//       width: 0;
//       height: 0;
//       border: 8px solid $body-background;
//       border-color: transparent transparent $menu-dark-active-bg transparent;
//       border-top: 0;
//       @include border-color($background-color-header, $dark-background-color-header);
//       list-style: none;
//       position: $absolute;
//       top: -8px;
//       left: 50%;
//       margin-left: -4px;
//   }
  .user-menu-item {
      list-style: none;
      padding-left: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: $font-size-base;
      &:hover {
          color: $body-background;
        //   background: $dark-bg-dark;
          @include bg-color($background-color-header, $dark-background-color-header);
          @include font-color($primary-color, $dark-primary-color);
          border-top: none;
          border-radius: $border-radius-small;
      }
      .user-menu-item-icon {
          font-size: $font-size-large;
          font-weight: bold;
      }
  }
}
