@charset "utf-8";
@import "./default";
@import "./_theme";
/*引入配置 所有演示相关必须走函数引用，方便后续换肤*/
@mixin bg-color($color) {
  background-color: $color;

  [data-theme="dark"] & {
    background-color: $dark-background-color-base;
  }
}
@mixin font-color($color) {
  color: $color;

  [data-theme="dark"] & {
    color: $dark-text-title-color;
  }
}
@mixin border-color($color) {
  border-color: $color;

  [data-theme="dark"] & {
    border-color: rgba($color: #000000, $alpha: 0);
  }
}
