@import '@dataspherestudio/shared/common/style/variables.scss';
@import '@dataspherestudio/shared/common/style/overwrite.scss';
@import '../projectIconFont/style.css';
@import 'normalize.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-variant-numeric: tabular-nums;
  font-size: $font-size-small;
  @include font-color($text-color, $dark-text-color);
  line-height: $line-height-base;
  background-color: $workspace-background !important;
  font-family: $font-family;
}

.layout {
    position: $absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include bg-color($body-background, $dark-base-color);
    overflow: hidden;
}

.layout-content {
  height: 100%;
}

.layout-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // padding: 54px 0 0;
  position: $relative;
}

.layout-top {
  padding: 54px 0 0;
}

.ivu-message {
  z-index: 2000 !important;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px $shadow-color;
  -webkit-box-shadow: inset 0 0 2px $shadow-color;
  border-radius: $border-radius-large;
  -webkit-border-radius: $border-radius-large;
  -moz-border-radius: $border-radius-large;
  -ms-border-radius: $border-radius-large;
  -o-border-radius: $border-radius-large;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2px $shadow-color;
  border-radius: $border-radius-large;
  background: $scrollbar-color;
  -webkit-box-shadow: inset 0 0 2px $shadow-color;
  -webkit-border-radius: $border-radius-large;
  -moz-border-radius: $border-radius-large;
  -ms-border-radius: $border-radius-large;
  -o-border-radius: $border-radius-large;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $scrollbar-color;
}

.we-editor .monaco-editor .margin {
  background-color: #f2f3f6;
}

.result-table-content {
  .__view::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .table-bottom::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
}

.ivu-modal-header {
  //   background-color: #FAFAFA !important;
  border-radius: 6px 6px 0 0;
  @include bg-color(#FAFAFA, $dark-base-color);
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1001;
}
div.ivu-notice-notice-err {
  background: rgb(251, 233, 233);
  border: 1px solid #eaa8a8;
  color: #333
}
.release-notes {
  padding-left: 10px;
}
.update-title {
  padding: 5px 0 15px 0;
  font-weight: 600;
}
.item-title{
  padding: 5px 0;
}
