<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*
  ~  * Copyright 2019 WeBank
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  *  you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  * http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wedatasphere.dss.framework.dbapi.dao.DataSourceMapper">
    <resultMap id="DataSourceResult" type="DataSource">
        <id property="sourceId" column="id"/>
        <result property="workspaceId" column="workspaceId"/>
        <result property="name" column="name"/>
        <result property="note" column="note"/>
        <result property="url" column="url"/>
        <result property="username" column="username"/>
        <result property="pwd" column="pwd"/>
        <result property="type" column="type"/>
        <result property="createBy" column="create_by"/>
    </resultMap>




    <select id="selectByTypeAndWorkspaceId"
            parameterType="com.webank.wedatasphere.dss.framework.dbapi.entity.DataSource"
            resultType="DataSourceResult">
        SELECT * FROM dss_dataapi_datasource
        WHERE  is_delete=0 AND type = #{type} AND workspace_id = #{workspace_id}
        order by updateTime desc
    </select>


</mapper>