

@import "../../../assets/styles/variables.scss";

.api-module-title{
  font-size: 14px;
  color: $title-color;
}

.api-module-content-title{
  font-size: 12px;
  color: $title-color;
  text-align: center;
}
