<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedatasphere.dss.datamodel.indicator.dao.DssDatamodelIndicatorMapper">
  <resultMap id="BaseResultMap" type="com.webank.wedatasphere.dss.datamodel.indicator.entity.DssDatamodelIndicator">
    <!--@mbg.generated-->
    <!--@Table dss_datamodel_indicator-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="field_identifier" jdbcType="VARCHAR" property="fieldIdentifier" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="warehouse_theme_name" jdbcType="VARCHAR" property="warehouseThemeName" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="is_available" jdbcType="BOOLEAN" property="isAvailable" />
    <result column="is_core_indicator" jdbcType="BOOLEAN" property="isCoreIndicator" />
    <result column="theme_area" jdbcType="VARCHAR" property="themeArea" />
    <result column="layer_area" jdbcType="VARCHAR" property="layerArea" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="warehouse_theme_name_en" jdbcType="VARCHAR" property="warehouseThemeNameEn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, field_identifier, `comment`, warehouse_theme_name, `owner`, principal_name, 
    is_available, is_core_indicator, theme_area, layer_area, create_time, update_time, 
    version, warehouse_theme_name_en
  </sql>
</mapper>