@import "@dataspherestudio/shared/common/style/variables.scss";

.page-bgc {
  @include bg-color($workspace-background, $dark-workspace-background);
  min-height: 100%;
  .page-bgc-header {
    padding: 0px $padding-25 0;
    @include bg-color($workspace-body-bg-color, $dark-workspace-body-bg-color);
    border-bottom: $border-width-base $border-style-base $border-color-base;
    @include border-color($border-color-base, $dark-workspace-body-bg-color);
    .header-info {
      padding: 25px 0px 25px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .info-name {
        font-size: 21px;
        @include font-color(
          $workspace-title-color,
          $dark-workspace-title-color
        );

        &::after {
          content: "";
          border-right: 1px solid #dee4ec;
          margin: 0 50px;
          @include border-color(#dee4ec, rgba(255, 255, 255, 0.15));
        }
        .workspace-name {
          font-size: 24px;
          // color:#044B93;

          @include font-color(
            $workspace-name-color,
            $dark-workspace-name-color
          );
        }
      }
      p {

        font-size: $font-size-base;
        @include font-color($light-text-color, $dark-text-color);
      }
    }
  }
  .workspace-main {
    margin: $padding-25;
    padding-bottom: $padding-25;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    .workspace-main-left {
      flex: 10;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      border: $border-width-base $border-style-base $border-color-base;
      min-height: 200px;
      @include bg-color(
        $workspace-body-bg-color,
        $dark-workspace-body-bg-color
      );
      @include border-color($border-color-base, $dark-workspace-body-bg-color);
      .workspace-create-search {
        padding: 0 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0 20px 0;

        .workspace-create {
          flex-basis: 200px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 15px 10px;
          &:hover {
            box-shadow: 0 2px 12px 0 $shadow-color;
            border-radius: $btn-border-radius;
          }
          .workspace-create-text {
            margin-left: 10px;
            cursor: pointer;
          }
        }

        .header-search {
          flex: 50%;
        }
      }

      .item-header {
        font-size: $font-size-large;
        position: relative;
        font-weight: bold;
        padding-left: 12px;
        line-height: 1;
        margin-bottom: 20px;
        border-left: 3px solid $primary-color;
        @include border-color($primary-color, $dark-primary-color);
        @include font-color(
          $workspace-title-color,
          $dark-workspace-title-color
        );
      }
    }

    .workspace-main-right {
      flex: 3;
      bottom: 25px;
      width: calc(25% - 25px);
      min-width: 200px;
      padding: $padding-25;
      margin-left: 25px;
      border: $border-width-base $border-style-base $border-color-base;
      @include bg-color(
        $workspace-body-bg-color,
        $dark-workspace-body-bg-color
      );
      @include border-color($border-color-base, $dark-workspace-body-bg-color);
      .right-box {
        width: 100%;
        .line {
          margin: 20px 0;
          border-bottom: $border-width-base $border-style-base
            $border-color-base;
          @include border-color($border-color-base, $dark-border-color-base);
        }
      }
      .knowledge-list,
      .FAQ-list,
      .menu-list {
        margin-top: 10px;
        font-size: 12px;
        // color: $text-desc-color;
        @include font-color($light-text-color, $dark-text-color);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        .knowledge-item,
        .FAQ-item,
        .menu-item {
          line-height: 25px;
          flex: 50%;
          padding-left: 15px;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: $font-size-base;
          .side-icon {
            font-size: 16px;
            vertical-align: middle;
          }
        }
      }
      .video-header,
      .knowledge-header,
      .FAQ-header,
      .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }
      .title {
        font-size: $font-size-large;
        font-weight: bold;
        // color: $text-title-color;
        @include font-color(
          $workspace-title-color,
          $dark-workspace-title-color
        );
        &::before {
          content: "";
          padding-right: 12px;
          border-left: 3px solid $primary-color;
          @include border-color($primary-color, $dark-primary-color);
        }
      }
      .admin-box-video {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 15px;
        padding-left: 15px;
      }
      .video-title {
        padding: 5px 0;
        text-align: center;
        font-size: $font-size-small;
      }
      .video-item {
        background: #f2f2f2;
        // margin-bottom: 20px;
        cursor: pointer;
        width: 200px;
      }
      video {
        pointer-events: none;
      }
    }
  }
  .app-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .app-icon {
      font-size: 90px;
      height: 90px;
      line-height: 90px;
      // color: $primary-color;
      @include font-color($primary-color, $dark-primary-color);
    }
    .app-item-add {
      width: 90px;
      height: 90px;
      margin: 00px 10px 10px 25px;
      cursor: pointer;
      font-size: 24px;
      // background: #F8F9FC;
      @include bg-color(#f8f9fc, $dark-workspace-body-bg-color);
      border: 1px dashed #cfd7e1;
      @include border-color(#cfd7e1, $dark-border-color-base);
      border-radius: 2px;
      line-height: 90px;
      text-align: center;
      @include font-color($light-text-color, $dark-text-color);
    }

    .shadow {
      box-shadow: 0 2px 12px 0 $shadow-color;
      border-radius: $border-radius-small;
    }

    .app-item-wrap {
      display: flex;
      position: relative;
      margin: 12.5px;
      cursor: pointer;
      // border: 1px solid rgb(245, 245, 245);
      border-radius: 3px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 112px;
      height: 112px;

      .close-wrap {
        position: absolute;
        right: -10px;
        top: -10px;
        // color: $primary-color;
        @include font-color($primary-color, $dark-primary-color);
      }

      &:hover {
        box-shadow: 0 2px 12px 0 $shadow-color;
        border-radius: $border-radius-small;
      }

      .label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 20px;
        height: 20px;

        font-size: 16px;
        // color: rgba(0,0,0,0.85);
        @include font-color(
          $workspace-title-color,
          $dark-workspace-title-color
        );
        text-align: center;
        width: 100%;
        padding: 0 10px;
      }
    }
    .nodata-tips {
      font-size: $font-size-small;
      margin: 0 20px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      @include font-color($light-text-color, $dark-text-color);
    }
  }
  .setting-bt-wrap,
  .more-util {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;

    .ivu-btn {
      @include border-color($border-color-base, $dark-border-color-base);
      @include font-color($light-text-color, $dark-text-color);
      &:hover {
        @include bg-color($active-menu-item, $dark-active-menu-item);
      }
    }
    &.ivu-btn-text {
      outline: none;
      border: none;
      box-shadow: 0 0 0 2px transparent;
    }
  }
  .app-list-main {
    width: 100%;
    .app-list-tabs {
      padding: 10px 25px 20px 25px;
      border-radius: $border-radius-base;
      height: 100%;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      // background-color: #fff;
      @include bg-color(
        $workspace-body-bg-color,
        $dark-workspace-body-bg-color
      );
      ::v-deep.ivu-tabs-nav {
        @include font-color(
          $workspace-title-color,
          $dark-workspace-title-color
        );
      }
      .app-shop-top {
        margin-top: 9px;
        margin-bottom: 20px;
      }
    }
  }
}
