<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.dss.orchestrator.db.dao.OrchestratorJobMapper">

    <sql id="orchestrator_job">
        id, job_id, conversion_job_json, created_time, updated_time
    </sql>

    <select id="getPublishJobById" resultMap="orchestrator_job_info_result_map">
        SELECT * FROM `dss_orchestrator_job_info` WHERE id = #{id}
    </select>

    <select id="getPublishJobByJobId" resultMap="orchestrator_job_info_result_map">
        SELECT * FROM `dss_orchestrator_job_info` WHERE job_id = #{jobId}
    </select>

    <insert id="insertPublishJob" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.orchestrator.db.entity.OrchestratorPublishJob">
        INSERT INTO dss_orchestrator_job_info (<include refid="orchestrator_job"/>)
        VALUES
        (#{id},#{jobId},#{conversionJobJson},#{createdTime})
    </insert>

    <update id="updatePublishJob" parameterType="com.webank.wedatasphere.dss.orchestrator.db.entity.OrchestratorPublishJob">
        UPDATE dss_orchestrator_job_info
        <trim prefix="set" suffixOverrides=",">
            <if test="jobId != null">job_id =#{jobId},</if>
            <if test="conversionJobJson != null">conversion_job_json =#{conversionJobJson},</if>
            <if test="createdTime != null">created_time =#{createdTime},</if>
            <if test="updatedTime != null">updated_time =#{updatedTime},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deletePublishJob">
        DELETE
        FROM
        dss_orchestrator_job_info
        WHERE id = #{id}
    </delete>

    <resultMap id="orchestrator_job_info_result_map" type="com.webank.wedatasphere.dss.orchestrator.db.entity.OrchestratorPublishJob">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_id" property="jobId" jdbcType="LONGVARCHAR"/>
        <result column="conversion_job_json" property="conversionJobJson" jdbcType="LONGVARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>


</mapper>