<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.dss.orchestrator.db.dao.OrchestratorMapper">

    <sql id="orchestrator_main">
        id,`name`,`type`,`desc`,`creator`,`create_time`,`project_id`,`uses`,`appconn_name`,`uuid`,`secondary_type` ,
        `workspace_id`,`orchestrator_mode`,`orchestrator_way`,`orchestrator_level`,`update_user`,`update_time`,`is_default_reference`
    </sql>

    <sql id="orchestrator_version">
        id,`orchestrator_id`,`app_id`,`source`,`version`,`comment`,`update_time`,`updater`,`project_id`,`content`,`context_id`,`valid_flag`, `commit_id`
    </sql>

    <sql id="orchestrator_ref_orchestration">
        id,`orchestrator_id`,`ref_project_id`,`ref_orchestration_id`
    </sql>

    <select id="getOrchestrator"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        SELECT
        <include refid="orchestrator_main"/>,`status`
        FROM `dss_orchestrator_info` WHERE id = #{id}
    </select>

    <select id="getOrchestratorByUUID"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        SELECT
        <include refid="orchestrator_main"/>, `status`
        FROM `dss_orchestrator_info` WHERE uuid = #{uuid}
    </select>

    <insert id="addOrchestrator" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        INSERT INTO dss_orchestrator_info (<include refid="orchestrator_main"/>)
        VALUES
        (#{id},#{name},#{type},#{desc},#{creator},#{createTime},#{projectId},#{uses},#{appConnName},
        #{uuid},#{secondaryType},
        #{workspaceId},#{orchestratorMode},#{orchestratorWay},#{orchestratorLevel},#{updateUser},#{updateTime}
        ,#{isDefaultReference})
    </insert>

    <update id="updateOrchestrator"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        UPDATE dss_orchestrator_info
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">`name`=#{name},</if>
            <if test="desc != null">`desc`=#{desc},</if>
            <if test="appConnName != null">`appconn_name`=#{appConnName},</if>
            <if test="uses != null">`uses`=#{uses},</if>
            <if test="secondaryType != null">`secondary_type`=#{secondaryType},</if>
            <if test="orchestratorLevel != null">`orchestrator_level`=#{orchestratorLevel},</if>
            <if test="updateUser != null">`update_user`=#{updateUser},</if>
            <if test="updateTime != null">`update_time`=#{updateTime},</if>
            <if test="isDefaultReference != null">`is_default_reference`=#{isDefaultReference},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <update id="updateOrchestratorBmlVersion">
        UPDATE dss_orchestrator_info
        <set>
            `bml_version` = #{bmlVersion}, `resource_id` = #{resourceId}
        </set>
        where `orchestrator_id` = #{orchestratorId}
    </update>

    <select id="getOrchestratorBmlVersion" resultType="com.webank.wedatasphere.dss.common.entity.BmlResource">
        SELECT `bml_version` as `version`, resource_id FROM dss_orchestrator_info WHERE `orchestrator_id` = #{orchestratorId}
    </select>


    <delete id="deleteOrchestrator">
        DELETE
        FROM
        dss_orchestrator_info
        WHERE id = #{id}
    </delete>

    <insert id="addOrchestratorVersion" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        INSERT INTO dss_orchestrator_version_info (<include refid="orchestrator_version"/>)
        VALUES
        (#{id},#{orchestratorId},#{appId},#{source},#{version},#{comment},#{updateTime},#{updater},#{projectId},#{content},#{contextId},#{validFlag}, #{commitId})
    </insert>


    <update id="updateOrchestratorVersion"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        UPDATE dss_orchestrator_version_info
        <trim prefix="set" suffixOverrides=",">
            <if test="source != null">`source` = #{source},</if>
            <if test="validFlag != null">`valid_flag` = #{validFlag},</if>
            <if test="appId != null">`app_id` = #{appId},</if>
            <if test="content != null">`content`= #{content},</if>
            <if test="comment != null">`comment` = #{comment},</if>
            <if test="contextId != null">`context_id` = #{contextId},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="updater != null and updater != ''">`updater` = #{updater}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="getLatestOrchestratorVersionById"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        <include refid="orchestrator_version"/>
        FROM
        `dss_orchestrator_version_info`
        WHERE
        orchestrator_id = #{orchestratorId}
        and valid_flag = 1
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="getLatestOrchestratorVersionByIdAndValidFlag"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        <include refid="orchestrator_version"/>
        FROM
        `dss_orchestrator_version_info`
        WHERE
        orchestrator_id = #{orchestratorId} and valid_flag = #{validFlag}
        ORDER BY id DESC
        LIMIT 1
    </select>


    <select id="getOrchestratorVersion"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        <include refid="orchestrator_version"/>
        FROM
        `dss_orchestrator_version_info`
        WHERE
        id = #{versionId} and valid_flag = 1
    </select>

    <select id="getOrcVersionByIdAndOrcVersionId"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        <include refid="orchestrator_version"/>
        FROM
        `dss_orchestrator_version_info`
        WHERE
        orchestrator_id = #{orchestratorId} and id = #{orcVersionId} and valid_flag = #{validFlag}
    </select>

    <delete id="deleteOrchestratorVersion">
        DELETE
        FROM
        dss_orchestrator_version_info
        WHERE id = #{versionId}
    </delete>

    <select id="getVersionByOrchestratorId"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        <include refid="orchestrator_version"/>, commit_id
        FROM dss_orchestrator_version_info
        WHERE orchestrator_id = #{orchestratorId} and valid_flag = 1 and context_id != ''
        ORDER BY id DESC
    </select>

    <resultMap id="orcInfo" type="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorInfo">
        <result column="id" property="orchestratorVersionId" jdbcType="BIGINT"/>
        <result column="orchestrator_id" property="orchestratorId" jdbcType="BIGINT"/>
    </resultMap>


    <select id="getOrcInfoByAppId" resultMap="orcInfo">
        select `id`, `orchestrator_id` from dss_orchestrator_version_info where app_id = #{appId} and valid_flag = 1
    </select>

    <resultMap id="orchestrator_version_info_result_map"
               type="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="orchestrator_id" property="orchestratorId" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="BIGINT"/>
        <result column="source" property="source" jdbcType="LONGVARCHAR"/>
        <result column="version" property="version" jdbcType="LONGVARCHAR"/>
        <result column="comment" property="comment" jdbcType="LONGVARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="updater" property="updater" jdbcType="LONGVARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="commit_id" property="commitId" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="getOrchestratorVersions" resultMap="orchestrator_version_info_result_map">
        select
        <include refid="orchestrator_version"/>
        from `dss_orchestrator_version_info` where `project_id` = #{projectId} and `orchestrator_id` =
        #{orchestratorId} and valid_flag = 1
    </select>

    <resultMap id="orchestrator_user_map"
               type="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorUser">
        <result column="id" property="id"/>
        <result column="workspace_id" property="workspaceId"/>
        <result column="project_id" property="projectId"/>
        <result column="username" property="username"/>
        <result column="priv" property="priv"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>


    <select id="getVersionByOrchestratorIdAndVersion" resultMap="orchestrator_version_info_result_map">
        SELECT
        <include refid="orchestrator_version"/>
        FROM dss_orchestrator_version_info
        WHERE orchestrator_id = #{orchestratorId} and version = #{version} and valid_flag = 1
        ORDER BY app_id DESC limit 1
    </select>

    <insert id="addOrchestratorRefOrchestration" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorRefOrchestration">
        insert into dss_orchestrator_ref_orchestration_relation (<include refid="orchestrator_ref_orchestration"/>)
        values (#{id},#{orchestratorId},#{refProjectId},#{refOrchestrationId})
    </insert>

    <select id="queryOrchestratorInfos" parameterType="java.util.Map"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        select
        <include refid="orchestrator_main"/>, `status`
        from dss_orchestrator_info
        <where>
            <if test="params.workspace_id != null">
                workspace_id=#{params.workspace_id}
            </if>
            <if test="params.project_id != null">
                and project_id=#{params.project_id}
            </if>
            <if test="params.id != null">
                and id=#{params.id}
            </if>
            <if test="params.orchestrator_mode != null and params.orchestrator_mode != ''">
                and orchestrator_mode=#{params.orchestrator_mode}
            </if>
            <if test="params.name != null and params.name != ''">
                and name=#{params.name}
            </if>
        </where>
    </select>

    <select id="getRefOrchestrationId"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorRefOrchestration">
        select
        <include refid="orchestrator_ref_orchestration"/>
        from dss_orchestrator_ref_orchestration_relation
        where orchestrator_id = #{orchestratorId}
    </select>


    <select id="getHistoryOrcVersion"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        a.orchestrator_id ,
        a.context_id ,
        a.app_id,
        a.id
        FROM
        dss_orchestrator_version_info a
        inner join (
        select
        orchestrator_id, max(version) as maxVersion
        from
        dss_orchestrator_version_info
        where context_id != ''
        group by
        orchestrator_id
        HAVING
        substring(maxVersion,2)  &gt; #{remainVersion}) b on
        a.orchestrator_id = b.orchestrator_id
        where
        substring(a.version,2) + #{remainVersion} &lt;= substring(b.maxVersion,2)
        and a.context_id != ''
        order by a.id desc
        limit 50
    </select>

    <update id="batchUpdateOrcInfo" parameterType="java.util.List">
        update dss_orchestrator_version_info set context_id ='' where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>

    <insert id="insertOrchestratorSubmitJob" useGeneratedKeys="true" keyProperty="id" parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorSubmitJob">
        insert into dss_orchestrator_submit_job_info (`orchestrator_id`, `create_time`, `update_time`, `instance_name`, `status`) values
        (#{orchestratorId}, Now(), Now(), #{instanceName}, #{status})
    </insert>

    <update id="updateOrchestratorSubmitJobStatus">
        update dss_orchestrator_submit_job_info
        <set>
            `error_msg` = #{errMsg} ,`update_time` = Now() , `status` = #{status}
        </set>
        where `id` = #{id}
    </update>

    <update id="updateOrchestratorSubmitResult">
        update dss_orchestrator_submit_job_info
        <set>
            `result` = #{result},`update_time` = Now() , `status` = #{status}
        </set>
        where `id` = #{id}
    </update>

    <update id="batchUpdateOrchestratorSubmitJobStatus">
        update dss_orchestrator_submit_job_info
        <set>
            `error_msg` = #{errMsg} ,`update_time` = Now() , `status` = #{status}
        </set>
        where `id` IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="selectSubmitJobStatus" resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorSubmitJob">
        select `id`, `orchestrator_id`, `create_time`, `update_time`, instance_name, status, error_msg from dss_orchestrator_submit_job_info
        where orchestrator_id = #{orchestratorId}
    </select>

    <select id="selectSubmitJobStatusById" resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorSubmitJob">
        SELECT `id`, `orchestrator_id`, `create_time`, `update_time`, instance_name, status, error_msg FROM dss_orchestrator_submit_job_info
        WHERE id = #{id}
    </select>

    <select id="selectResult" resultType="java.lang.String">
        SELECT result FROM dss_orchestrator_submit_job_info WHERE id = #{id}
    </select>


    <select id="getAllOrchestratorMeta" parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorMetaRequest"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorMeta">
        select * from
        (select t1.id              as orchestratorId
        ,t1.name            as orchestratorName
        ,t1.desc            as description
        ,t1.uuid            as uuid
        ,t1.status          as status
        ,t1.is_default_reference as isDefaultReference
        ,t1.project_id      as projectId
        ,t2.name    as projectName
        ,t2.associate_git   as associateGit
        ,t3.global_var      as globalVar
        ,t3.resource        as resource
        ,t3.proxy_user      as proxyUser
        from dss_orchestrator_info t1
        join dss_project t2  on t1.project_id  = t2.id and t2.workspace_id = #{workspaceId}
        left join dss_workflow_node_meta t3 on t1.id = t3.orchestrator_id
        ) A
        where 1 = 1

        <if test="projectList!=null and projectList.size() > 0">
            and projectName in
            <foreach collection="projectList" item="project" open="(" separator="," close=")">
                #{project}
            </foreach>
        </if>

        <if test="orchestratorName!= null and orchestratorName != ''">
            and orchestratorName like concat('%',#{orchestratorName},'%')
        </if>

    </select>


    <select id="getOrchestratorMeta" parameterType="java.lang.Long"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorMeta">
        select
         t1.id as id
        ,t1.id as orchestratorId
        ,t2.global_var      as globalVar
        ,t2.resource        as resource
        ,t2.proxy_user      as proxyUser
        ,t1.name            as orchestratorName
        ,t1.type            as type
        ,t1.desc            as description
        ,t1.creator         as creator
        ,t1.project_id      as projectId
        ,t1.uses            as uses
        ,t1.appconn_name    as appconnName
        ,t1.secondary_type  as secondaryType
        ,t1.workspace_id    as workspaceId
        ,t1.orchestrator_mode  as orchestratorMode
        ,t1.orchestrator_way  as orchestratorWay
        ,t1.orchestrator_level as orchestratorLevel
        ,t1.project_id      as projectId
        ,t1.uuid            as uuid
        ,t1.status          as status
        ,t1.is_default_reference as isDefaultReference
        from dss_orchestrator_info t1
        left join dss_workflow_node_meta t2 on t1.id = t2.orchestrator_id
        where t1.id = #{orchestratorId}
    </select>

    <select id="getOrchestratorName" resultType="java.lang.String">
        SELECT name from dss_orchestrator_info where id IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getOrchestratorReleaseVersionInfo" parameterType="java.util.List"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorReleaseVersionInfo">
        select  a.id               as id
        ,a.orchestrator_id  as orchestratorId
        ,a.version          as version
        ,a.update_time      as updateTime
        ,a.updater          as updater
        ,b.status           as status
        ,b.error_msg        as errorMsg
        from dss_orchestrator_version_info a
        left join dss_release_task b on a.orchestrator_id = b.orchestrator_id and a.id = b.orchestrator_version_id
        where a.valid_flag  = 1  and a.orchestrator_id in
        <foreach collection="orchestratorIdList" index="index" item="orchestratorId" open="(" close=")" separator=",">
            #{orchestratorId}
        </foreach>

    </select>


    <select id="getOrchestratorDefaultTemplateInfo"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorTemplateInfo">
        select  a.orchestrator_id as orchestratorId
        ,b.name   as templateName
        from dss_workflow_default_template  a
        join dss_ec_config_template  b on a.template_id  = b.template_id
        where a.orchestrator_id in
        <foreach collection="orchestratorIdList" index="index" item="orchestratorId" open="(" close=")" separator=",">
            #{orchestratorId}
        </foreach>
    </select>

    <select id="getAllOrchestratorName" resultType="java.lang.String">
        select distinct t1.name
        from dss_orchestrator_info t1
        join dss_project t2
        on t1.project_id  = t2.id
        and t2.workspace_id = #{workspaceId}
        and t2.visible = 1
        <if test="projectName != null and projectName !=''">
            and t2.name = #{projectName}
        </if>
    </select>

</mapper>