<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.dss.orchestrator.db.dao.OrchestratorMapper">

    <sql id="orchestrator_main">
        id,`name`,`type`,`desc`,`creator`,`create_time`,`project_id`,`uses`,`appconn_name`,`uuid`,`secondary_type` ,
        `workspace_id`,`orchestrator_mode`,`orchestrator_way`,`orchestrator_level`,`update_user`,`update_time`,`is_default_reference`
    </sql>

    <sql id="orchestrator_version">
        id,`orchestrator_id`,`app_id`,`source`,`version`,`comment`,`update_time`,`updater`,`project_id`,`content`,`context_id`,`valid_flag`
    </sql>

    <sql id="orchestrator_ref_orchestration">
        id,`orchestrator_id`,`ref_project_id`,`ref_orchestration_id`
    </sql>

    <select id="getOrchestrator"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        SELECT * FROM `dss_orchestrator_info` WHERE id = #{id}
    </select>

    <select id="getOrchestratorByUUID"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        SELECT * FROM `dss_orchestrator_info` WHERE uuid = #{uuid}
    </select>

    <insert id="addOrchestrator" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        INSERT INTO dss_orchestrator_info (<include refid="orchestrator_main"/>)
        VALUES
        (#{id},#{name},#{type},#{desc},#{creator},#{createTime},#{projectId},#{uses},#{appConnName},
        #{uuid},#{secondaryType},
        #{workspaceId},#{orchestratorMode},#{orchestratorWay},#{orchestratorLevel},#{updateUser},#{updateTime}
        ,#{isDefaultReference})
    </insert>

    <update id="updateOrchestrator"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        UPDATE dss_orchestrator_info
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">`name`=#{name},</if>
            <if test="desc != null">`desc`=#{desc},</if>
            <if test="appConnName != null">`appconn_name`=#{appConnName},</if>
            <if test="uses != null">`uses`=#{uses},</if>
            <if test="secondaryType != null">`secondary_type`=#{secondaryType},</if>
            <if test="orchestratorLevel != null">`orchestrator_level`=#{orchestratorLevel},</if>
            <if test="updateUser != null">`update_user`=#{updateUser},</if>
            <if test="updateTime != null">`update_time`=#{updateTime},</if>
            <if test="isDefaultReference != null">`is_default_reference`=#{isDefaultReference},</if>
        </trim>
        WHERE id = #{id}
    </update>


    <delete id="deleteOrchestrator">
        DELETE
        FROM
        dss_orchestrator_info
        WHERE id = #{id}
    </delete>

    <insert id="addOrchestratorVersion" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        INSERT INTO dss_orchestrator_version_info (<include refid="orchestrator_version"/>)
        VALUES
        (#{id},#{orchestratorId},#{appId},#{source},#{version},#{comment},#{updateTime},#{updater},#{projectId},#{content},#{contextId},#{validFlag})
    </insert>


    <update id="updateOrchestratorVersion"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        UPDATE dss_orchestrator_version_info
        <trim prefix="set" suffixOverrides=",">
            <if test="source != null">`source` = #{source},</if>
            <if test="validFlag != null">`valid_flag` = #{validFlag},</if>
            <if test="appId != null">`app_id` = #{appId},</if>
            <if test="content != null">`content`= #{content},</if>
            <if test="comment != null">`comment` = #{comment},</if>
            <if test="contextId != null">`context_id` = #{contextId},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="updater != null and updater != ''">`updater` = #{updater}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="getLatestOrchestratorVersionById"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        *
        FROM
        `dss_orchestrator_version_info`
        WHERE
        orchestrator_id = #{orchestratorId}
        and valid_flag = 1
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="getLatestOrchestratorVersionByIdAndValidFlag"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        *
        FROM
        `dss_orchestrator_version_info`
        WHERE
        orchestrator_id = #{orchestratorId} and valid_flag = #{validFlag}
        ORDER BY id DESC
        LIMIT 1
    </select>


    <select id="getOrchestratorVersion"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        *
        FROM
        `dss_orchestrator_version_info`
        WHERE
        id = #{versionId} and valid_flag = 1
    </select>

    <select id="getOrcVersionByIdAndOrcVersionId"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        <include refid="orchestrator_version"/>
        FROM
        `dss_orchestrator_version_info`
        WHERE
        orchestrator_id = #{orchestratorId} and id = #{orcVersionId} and valid_flag = #{validFlag}
    </select>

    <delete id="deleteOrchestratorVersion">
        DELETE
        FROM
        dss_orchestrator_version_info
        WHERE id = #{versionId}
    </delete>

    <select id="getVersionByOrchestratorId"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT * FROM dss_orchestrator_version_info
        WHERE orchestrator_id = #{orchestratorId} and valid_flag = 1 and context_id != ''
        ORDER BY id DESC
    </select>

    <resultMap id="orcInfo" type="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorInfo">
        <result column="id" property="orchestratorVersionId" jdbcType="BIGINT"/>
        <result column="orchestrator_id" property="orchestratorId" jdbcType="BIGINT"/>
    </resultMap>


    <select id="getOrcInfoByAppId" resultMap="orcInfo">
        select `id`, `orchestrator_id` from dss_orchestrator_version_info where app_id = #{appId} and valid_flag = 1
    </select>

    <resultMap id="orchestrator_version_info_result_map"
               type="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="orchestrator_id" property="orchestratorId" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="BIGINT"/>
        <result column="source" property="source" jdbcType="LONGVARCHAR"/>
        <result column="version" property="version" jdbcType="LONGVARCHAR"/>
        <result column="comment" property="comment" jdbcType="LONGVARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="updater" property="updater" jdbcType="LONGVARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="getOrchestratorVersions" resultMap="orchestrator_version_info_result_map">
        select * from `dss_orchestrator_version_info` where `project_id` = #{projectId} and `orchestrator_id` =
        #{orchestratorId} and valid_flag = 1
    </select>

    <resultMap id="orchestrator_user_map"
               type="com.webank.wedatasphere.dss.orchestrator.common.entity.OrchestratorUser">
        <result column="id" property="id"/>
        <result column="workspace_id" property="workspaceId"/>
        <result column="project_id" property="projectId"/>
        <result column="username" property="username"/>
        <result column="priv" property="priv"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>


    <select id="getVersionByOrchestratorIdAndVersion" resultMap="orchestrator_version_info_result_map">
        SELECT * FROM dss_orchestrator_version_info
        WHERE orchestrator_id = #{orchestratorId} and version = #{version} and valid_flag = 1
        ORDER BY app_id DESC limit 1
    </select>

    <insert id="addOrchestratorRefOrchestration" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorRefOrchestration">
        insert into dss_orchestrator_ref_orchestration_relation (<include refid="orchestrator_ref_orchestration"/>)
        values (#{id},#{orchestratorId},#{refProjectId},#{refOrchestrationId})
    </insert>

    <select id="queryOrchestratorInfos" parameterType="java.util.Map"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorInfo">
        select * from dss_orchestrator_info
        <where>
            <if test="params.workspace_id != null">
                workspace_id=#{params.workspace_id}
            </if>
            <if test="params.project_id != null">
                and project_id=#{params.project_id}
            </if>
            <if test="params.id != null">
                and id=#{params.id}
            </if>
            <if test="params.orchestrator_mode != null and params.orchestrator_mode != ''">
                and orchestrator_mode=#{params.orchestrator_mode}
            </if>
            <if test="params.name != null and params.name != ''">
                and name=#{params.name}
            </if>
        </where>
    </select>

    <select id="getRefOrchestrationId"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorRefOrchestration">
        select *
        from dss_orchestrator_ref_orchestration_relation
        where orchestrator_id = #{orchestratorId}
    </select>


    <select id="getHistoryOrcVersion"
            resultType="com.webank.wedatasphere.dss.orchestrator.common.entity.DSSOrchestratorVersion">
        SELECT
        a.orchestrator_id ,
        a.context_id ,
        a.app_id,
        a.id
        FROM
        dss_orchestrator_version_info a
        inner join (
        select
        orchestrator_id, max(version) as maxVersion
        from
        dss_orchestrator_version_info
        where context_id != ''
        group by
        orchestrator_id
        HAVING
        substring(maxVersion,2)  &gt; #{remainVersion}) b on
        a.orchestrator_id = b.orchestrator_id
        where
        substring(a.version,2) + #{remainVersion} &lt;= substring(b.maxVersion,2)
        and a.context_id != ''
        order by a.id desc
        limit 50
    </select>

    <update id="batchUpdateOrcInfo" parameterType="java.util.List">
        update dss_orchestrator_version_info set context_id ='' where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>

    <update id="updateOrchestratorStatus">
        update dss_orchestrator
        <set>
            `status` = #{status}
        </set>
        where `id` = #{id}
    </update>

    <select id="selectOrchestratorStatus" resultType="java.lang.String">
        select `status` from dss_orchestrator where `id` = #{id}
    </select>

    <select id="selectOrchestratorByStatus" resultType="java.lang.Long">
        select id from dss_orchestrator where `status` = #{status}
    </select>


</mapper>