<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*
  ~  * Copyright 2019 WeBank
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  *  you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  * http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.dss.framework.appconn.dao.AppInstanceMapper">
    <resultMap id="AppInstanceMap" type="com.webank.wedatasphere.dss.framework.appconn.entity.AppInstanceBean">
        <result property="id" column="id"/>
        <result property="appConnId" column="appconn_id"/>
        <result property="label" column="label"/>
        <result property="url" column="url"/>
        <result property="enhanceJson" column="enhance_json"/>
        <result property="homepageUrl" column="homepage_url"/>
        <result property="redirectUrl" column="redirect_url"/>
    </resultMap>

    <sql id="fields_query">
        `id`, `appconn_id`, `label`, `url`, `enhance_json`, `homepage_url`, `redirect_url`
    </sql>

    <select id="getAppInstancesByAppConnId" resultMap="AppInstanceMap">
        <![CDATA[SELECT]]>
        <include refid="fields_query"/>
        FROM `dss_appconn_instance`
        WHERE `appconn_id` = #{appConnId}
    </select>

    <select id="getAppInstance" resultMap="AppInstanceMap">
        <![CDATA[SELECT]]>
        <include refid="fields_query"/>
        FROM `dss_appconn_instance`
        WHERE `appconn_id` = #{appConnId} AND `label` = #{label}
    </select>
</mapper>