<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*
  ~  * Copyright 2019 WeBank
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  *  you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  * http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.webank.wedatasphere.dss.framework.release.dao.OrchestratorReleaseInfoMapper">

    <resultMap id="orchestratorReleaseInfo"
               type="com.webank.wedatasphere.dss.framework.release.entity.orchestrator.OrchestratorReleaseInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="orchestrator_id" property="orchestratorId" jdbcType="BIGINT"/>
        <result column="orchestrator_version_id" property="orchestratorVersionId" jdbcType="BIGINT"/>
        <result column="orchestrator_version" property="orchestratorVersion" jdbcType="VARCHAR"/>
        <result column="scheduler_workflow_id" property="schedulerWorkflowId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="orchestrator_release_info_main">
        `id`, `orchestrator_id`, `orchestrator_version_id`,`orchestrator_version`, `scheduler_workflow_id`, `create_time`, `update_time`
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.framework.release.entity.orchestrator.OrchestratorReleaseInfo">
        INSERT INTO dss_orchestrator_release_info (<include refid="orchestrator_release_info_main"/>)
        VALUES
        (#{id}, #{orchestratorId}, #{orchestratorVersionId}, #{orchestratorVersion}, #{schedulerWorkflowId},
        #{createTime}, #{updateTime})
    </insert>

    <select id="getByOrchestratorId" resultMap="orchestratorReleaseInfo" parameterType="java.lang.Long">
        select * from dss_orchestrator_release_info where orchestrator_id = #{orchestratorId}
    </select>

    <update id="update"
            parameterType="com.webank.wedatasphere.dss.framework.release.entity.orchestrator.OrchestratorReleaseInfo">
        UPDATE dss_orchestrator_release_info
        <trim prefix="set" suffixOverrides=",">
            <if test="orchestratorVersionId != null">orchestrator_version_id = #{orchestratorVersionId},</if>
            <if test="orchestratorVersion != null">orchestrator_version = #{orchestratorVersion},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </trim>
        WHERE id = #{id}
    </update>

</mapper>