@import '@/common/style/variables.scss';

.newHome_page {
  background-color: #f7f7f7;
  background: #fff;
  height: 100%;
  color: rgba(0,0,0,0.85);
  padding: 25px;
  display: flex;
  flex-direction: column;
  .newHome_header {
    flex: none;
    .newHome_info {
      h1 {
        font-size: 21px;
      }
      p {
        font-size: $font-size-base;
        margin: 25px 0;
        color: rgba(0,0,0,0.5);
      }
    }
  }
  .newHome_main {
    flex: 1;
    display: flex;
    align-items: flex-start;
    min-width: 900px;
    height: 700px;
    background: #FFFFFF;
    .newHome_main_left {
      flex: 1;
      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      padding: 25px;
      box-sizing: border-box;
      border: 1px solid #DEE4EC;
      border-radius: 2px;
      min-width: 640px;
      .newHome_title_search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        .left_header {
          flex: none;
          font-size: $font-size-large;
          color: $text-title-color;
          padding-left: 10px;
          line-height: 1;
          border-left: 3px solid $primary-color;
        }
        .left_search {
          flex: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .header-search {
            flex: 50%;
          }
        }
        .left_visual {
          margin-right: 15px;
          font-size: 14px;
          color: $text-desc-color;
          cursor: pointer;
        }
      }
      .newHome_list {
        .card-content {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
        .newHome_create {
          cursor: pointer;
          width: 345px;
          height: 116px;
          margin-bottom: 25px;
          box-sizing: border-box;
          border: 1px dashed #d9d9d9;
          background:  #F8F9FC;
          border-radius: 2px;
          padding: 10px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 25px;
          &:hover {
            box-shadow: 0 2px 12px 0 $shadow-color;
            border-radius: $border-radius-small;
          }
          .newHome_create_content {
            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            .newHome_create_text {
              margin-left: 10px;
              cursor: pointer;
              font-family: PingFangSC-Regular;
              font-size: $font-size-large;
            }
          }
        }
        .newHome_list_item{
          cursor: pointer;
          width: 345px;
          height: 116px;
          margin-bottom: 25px;
          box-sizing: border-box;
          border: 1px solid #DEE4EC;
          border-radius: 2px;
          padding: 25px;
          position: relative;
          background: url("../../assets/images/bgc-imag.svg")  center center no-repeat;
          background-size: 100%;
          margin-right: 25px;
          &:hover {
            box-shadow: 0 2px 12px 0 $shadow-color;
            border-radius: $border-radius-small;
          }
          .management-button {
            position: absolute;
            top: 5px;
            right: 10px;
          }
          .item-header {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .name {
              flex: 1;
              font-weight: 600;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: PingFangSC-Medium;
              font-size: 18px;
              color: $text-title-color;
              line-height: 24px;
              margin-top: 5px;
            }
          }

          .desc {
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(0,0,0,0.45);
            line-height: 22px;
            margin-top: 8px;
          }

          .lable-list {
            position: absolute;
            left: 10px;
            bottom: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            .item {
              display: inline-block;
              font-size: 10px;
              padding: .3em .9em;
              margin: 0 .5em .5em 0;
              white-space: nowrap;
              background-color: #f1f8ff;
              border-radius: $border-radius-small;
              color: $primary-color;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 31%;
            }
          }

          .editor {
            position: absolute;
            right: 10px;
            bottom: 10px;
          }
        }
        .page {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .newHome_main_right {
      flex: 0;
      margin-left: 25px;
      height: 100%;
      min-width: 250px;
      max-height: 100%;
      overflow-y: auto;
      padding: 25px;
      box-sizing: border-box;
      border: 1px solid #DEE4EC;
      border-radius: 2px;
      .right_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .title {
        font-size: $font-size-large;
        color: rgba(0,0,0,0.85);
        padding-left: 10px;
        line-height: 1;
        border-left: 3px solid $primary-color;
      }
      .video-title {
        padding: 5px 0;
        text-align: center;
        font-size: 12px;
      }
      .video-item {
        background: #f2f2f2;
        margin-bottom: 20px;
        cursor: pointer;
      }
      video {
        pointer-events: none
      }
    }
  }

}
