.dagreLayout-page{
  width: 100%;
  height: 100%;
  position: relative;
  .flow-canvas {
    width: 100%;
    height: 100%;
  }
  .point {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    cursor: pointer;
  }
  .point-1 {
    top: 50px;
    left: 300px;
  }
  .point-2 {
    top: 300px;
    left: 500px;
  }
  .operate-bar{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    box-shadow:0 2px 3px 0 rgba(0,112,204,0.06);
    border:1px solid #D9D9D9;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color:#222;
    .operate-bar-title{
      height: 30px;
      width: 100%;
      line-height: 30px;
      text-align: center;
      background-color: #F66902;
      color: #222;
      margin-bottom: 10px;
    }

  }
}
